<div class="container">
    <div class="row mt-4">
        </div>
    <div class="row mt-2">
        <div class="col-4 mt-2" *ngFor= "let item of resultados.results" >
            <div class="card" style="width: 18rem;">
                <img src="https://img.pokemondb.net/sprites/yellow/normal/{{item.name}}-color.png" width="100" height="100" alt="..." >
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">Pokémon creatures are monsters found in the Pokémon world (a mix between Earth and a cartoon version of it) that must be captured by trainers to enhance their powers and characteristics.</p>
                </div>
              </div>
        </div>
    </div>
</div>

